<!DOCTYPE html>
<html lang="en">

<head>
    <title>Aplikasi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Selamat Datang</h2>
            <h3>Klik Tombol Lanjut untuk menuju ke halaman user</h3>
            <a href="/users" class="btn btn-primary">Lanjut</a>
          </div>
        </div>
    </div>
    <script src='/javascripts/jquery-3.2.1.min.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
</body>

</html>
